DATABASE_URL="postgresql://postgres:PASSWORD@centerbeam.proxy.rlwy.net:31365/railway"
JWT_SECRET="seu_jwt_secret_super_seguro_aqui"
JWT_EXPIRES_IN="7d"
PORT=3001
NODE_ENV=development

# Email (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seu_email@gmail.com
SMTP_PASS=sua_senha_app_gmail

# Frontend URL (para links de assinatura)
FRONTEND_URL=http://localhost:5173

# Upload
UPLOAD_DIR=uploads
MAX_FILE_SIZE=10485760
